body {
  width: 1140px;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#message {
  border: solid 1px #ebebeb;
  border-radius: 3px;
  height: 600px;
  overflow-y: scroll;   
  padding: 10px 20px;
}

#message li {
  padding: 5px 0px;
  display: block;
}

#color-picker-container {
  display: flex;
  margin-bottom: 1rem;
}

.color-item,
.color-item-picker {
  border: solid 2px #ffffff;
  border-radius: 3px;
  display: inline-block;
  width: 68px;
  height: 38px;
  margin-right: 5px;
}

.color-item.selected,
.color-item-picker.selected {
  border: solid 2px #409eff;
}

.width-180 {
  width: 180px;
}

.width-1050 {
  width: 1050px;
}

.float-r {
  float: right;
}

.total-visited {
  line-height: 40px;
  float: right;
  color: #99a9bf;
  font-size: 14px;
}
/* From element ui begin */

.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.el-button:hover,
.el-button:focus {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.el-button:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: none;
}

.el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.el-input__inner::placeholder {
  color: #c0c4cc;
}
.el-input__inner:hover {
  border-color: #c0c4cc;
}
.el-input__inner:focus {
  outline: none;
  border-color: #409eff;
}
/* From element ui end */